body {
background-image: url(../img/harry.jpg);
background-size: 100%;
text-align: center;
color : white;
font-size: bold;
font-family: 'Indie Flower', cursive;
font-size: 20px;
}
h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
p{
  font-size: 40px;
}
#boton {
  width: 150px;
  height: 40px;
}
textarea {
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
  color: black;
}
#contendor {
    /*margin-top: 30px;
    margin-left: 230px;*/
    width: 300px;
    background-color: black;
    opacity: 0.4;
}
.red1 {
  color : #DC0A0A;
}
.red2{
  color : black;
}
